.navItem__ {
    list-style: none;
}

.container__ {
    display: flex;
    justify-content: center;
}

.custList__ {
    list-style: none;
}

.custArea__ {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    height: 100%;
}

.cardContainer__ {
    width: 30vw;
}

.navPos__ {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}
